body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 150px;
}
.section-flex {
    display: flex;
}
.first-section {
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half {
    width: 50%;
    padding-left: 3%;
}
.half img {
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 45px;
}
.small-part {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

.dream-big {
    background: url(images/dream-bg.png) no-repeat;
    background-position: right;
}
.developer-bg {
    box-shadow: 10px 10px 20px gray;
    margin-left: 5%;
    margin-right: 5%;
}

.experiences {
    background: url(images/exp-bg.png) no-repeat;
    background-position: bottom left;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer {
    text-align: center;
}