body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
    margin-bottom: 100px;
}
.first-section {
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half {
    width: 50%;
    padding-left: 3%;
}
.half img {
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 45px;
}
.small-part {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
}